.container{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.number{

    font-size: 50px;
}

.row{

    margin-top: 15px;
    margin-bottom: 15px;
}

.add{

    background-color: green;
    font-size: 40px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.subtract{

    background-color: red;
    font-size: 40px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.add:active{

    color: aliceblue;
    border: none;
    /* cursor:pointer; */
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, .77);
}

.subtract:active{

    color: aliceblue;
    border: none;
    /* cursor:pointer; */
    box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, .77);
}

.reset{

    background-color: yellow;
    font-size: 20px;
    /* width: 50px; */
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* box-shadow: 2px 1px 4px 2px rgba(0, 0, 0, .77); */
}

.reset:active{

    background-color: rgb(238, 245, 225);
    color: black;
}